
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

 @ViewBag.res
@{ if (ViewBag.res != null)
    {
    <h1> Sum is </h1>  @ViewBag.res
    }
    }
<form action="Add" method="post">
    <div>
        <label for="txtNo1"> Enter No 1 </label>
        <input type="number" id="txtNo1" name="txtNo1" />
    </div>
    <div>
        <label for="txtNo2"> Enter No 2 </label>
        <input type="number" id="txtNo2" name="txtNo2" />
    </div>

    <button type="submit" id="btnAdd">Add</button>

</form>

